# This file is managed by Ansible

server 10.11.160.238 

driftfile /var/lib/chrony/drift
makestep 10 3

keyfile /etc/chrony.keys
commandkey 1
generatecommandkey

noclientlog
logchange 0.5

logdir /var/log/chrony
log measurements statistics tracking
